<hello name="{{ name }}"></hello>
<div class="Container">
     <div class="row">
          <div class="col">
              <input type="text" [(ngModel)]='firstNumber' />
              <input type="text" readonly [(ngModel)]='sign'/>
              <input type="text" [(ngModel)]='secondNumber' />
              {{finalresult}}
          </div>
     </div>
     <div class="row">
        
        <button (click)="onClickMe('+')">+</button>
        <button (click)="onClickMe('-')">-</button>
        <button (click)="onClickMe('*')">*</button>
        <button (click)="onClickMe('/')">/</button>
        <button (click)="onClickMe('c')">Clear</button>
        
     </div>
     <div class="row">
        
     </div>
     <div class="row">
        
     </div>
</div>