<hello name="{{ name }}"></hello>
<div class="container">
     <div class="row form-group">
           <div class="col-xs-2 border border-primary"> <input type="text" [(ngModel)]='firstNumber' /> </div>
           <div class="col-xs-2 border border-info"> <input type="text" readonly [(ngModel)]='sign'/> </div>
           <div class="col-xs-2  border border-info"> <input type="text" [(ngModel)]='secondNumber' />  </div>
              {{finalresult}}         
     </div>
     <div class="row">    
       <div class="col "> <button (click)="onClickMe('+')">+</button></div>           
        <div class="col"><button (click)="onClickMe('-')">-</button></div> 
        <div class="col"><button (click)="onClickMe('*')">*</button></div> 
        <div class="col"><button (click)="onClickMe('/')">/</button></div> 
        <div class="col"><button (click)="onClickMe('c')">Clear</button></div>
     </div>
     <div class="row">
        
     </div>
     <div class="row">
        
     </div>
</div>